Merge white river water temperature data with Puyallup trap data

In [1]:
#imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from urllib.request import urlopen
from bs4 import BeautifulSoup
from sys import platform
import io
import datetime

if platform == "linux" or platform == "linux2":
    data_string = "/home/maria/Documents/data/pied_piper/puyallup/"
    output_string = "/home/maria/Documents/output/pied_piper/puyallup/"

elif platform == "win32"or platform == "win64":
    data_string = "C:/Users/maria/OneDrive/Documents/data/pied_piper/puyallup/"
    output_string = "C:/Users/maria/OneDrive/Documents/output/pied_piper/puyallup/"

In [6]:


#getting temperature data
#reading html data

url = 'https://nwis.waterservices.usgs.gov/nwis/iv/?sites=12100490&parameterCd=00010&startDT=2010-05-27T11:46:10.556-08:00&endDT=2024-01-26T11:46:10.556-08:00&siteStatus=all&format=rdb'
html = urlopen(url).read()
soup = BeautifulSoup(html, features="html.parser")

# kill all script and style elements
for script in soup(["script", "style"]):
    script.extract()    # rip it out

# get text
text = soup.get_text()
# text_data = text[1945:]
# df = pd.read_csv(io.StringIO(text_data), sep = '\t', header = None, names = ["USGS", "random0", "Date", "flow", "random1",
#                                                                        "flow_height", "random2","temp_max", "random3", 
#                                                                        "temp_min", "random4","temp", "random5"])

# df_temp_flow_subset = df[['Date','flow','temp']]
# df_temp_flow_subset['Date'] = pd.to_datetime(df_temp_flow_subset['Date'])
# # df_temp_flow_subset = df_temp_flow_subset.rename(columns={'temp_mean':'temp',})
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     display(df_temp_flow_subset)
# print(text)

In [22]:
text[0:1554]
text_data = text[1555:]
df = pd.read_csv(io.StringIO(text_data), sep = '\t', header = None, names = ["USGS", "random0", "Date", "time", 
                                                                             "temp","random1"])
df.head()
df_temp_flow_subset = df[['Date','time','temp']]
df_temp_flow_subset['Date'] = pd.to_datetime(df_temp_flow_subset['Date'])
# df_temp_flow_subset = df_temp_flow_subset.rename(columns={'temp_mean':'temp',})
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     display(df_temp_flow_subset)

/home/maria/miniconda3/envs/analysis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-22-40470f56569f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp_flow_subset['Date'] = pd.to_datetime(df_temp_flow_subset['Date'])

In [31]:

df_temp = df[['Date','temp']]
df_temp['temp'] = pd.to_numeric(df_temp["temp"], errors="coerce")
# df_temp.head()
df_temp['temp'].unique()
df_temp['temp'].isnull().sum()

<ipython-input-31-c027d12c90f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['temp'] = pd.to_numeric(df_temp["temp"], errors="coerce")

458

In [35]:
try:
    df = pd.read_csv(data_string + "puyallup_2004-2021_all_days_w_covariates_edited.csv",
    header = [0]
)
except PermissionError:
    print("Permission Error. Close the file, if it is open.")
    

df.head()

,Date,Unnamed: 0_x,flow,secchi_depth,In_day,In_night,In,chinook0_wild_num_day,chinook0_wild_perhour_day,chinook0_wild_num_night,...,chinook0_wild_night_num_estimate,chinook0_hatchery_day_num_estimate,chinook0_hatchery_night_num_estimate,chinook0_wild_num_estimate,doy,year,doy_original,Unnamed: 0_y,lunar_phase,photoperiod
0,2/29/2004,0.0,1050.0,150.0,8.50,13.75,22.25,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,60,2004.0,60.0,70,0.581360,11.100000
1,3/1/2004,1.0,982.0,150.0,10.75,15.25,26.00,0.0,0.000000,2.0,...,NaN,NaN,NaN,NaN,61,2004.0,61.0,71,0.672588,11.166667
2,3/2/2004,2.0,923.0,150.0,10.25,13.75,24.00,1.0,0.097561,0.0,...,NaN,NaN,NaN,NaN,62,2004.0,62.0,72,0.758745,11.216667
3,3/3/2004,3.0,955.0,150.0,10.25,14.25,24.50,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,63,2004.0,63.0,73,0.836781,11.283333
4,3/4/2004,4.0,1300.0,150.0,9.25,15.00,24.25,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,64,2004.0,64.0,74,0.903295,11.333333

In [40]:
#merge temperature data with puyallup data

df_temp['Date'] = pd.to_datetime(df_temp['Date'])
df_temp['daynight_category'] = df_temp['Date'].dt.hour.between(6, 18, inclusive=True) \
    .replace({True: 'day', False: 'night'})
df_temp['datetime'] = df_temp['Date']
df_temp['Date'] = df_temp['Date'].dt.date
df_temp.head(50)

<ipython-input-40-11a9007eb167>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Date'] = pd.to_datetime(df_temp['Date'])
<ipython-input-40-11a9007eb167>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['daynight_category'] = df_temp['Date'].dt.hour.between(6, 18, inclusive=True) \
<ipython-input-40-11a9007eb167>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['datetime'] = df_temp['Date']
<ipython-input-40-11a9007eb167>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Date'] = df_temp['Date'].dt.date

          Date  temp daynight_category            datetime
0   2010-05-27   9.6               day 2010-05-27 12:00:00
1   2010-05-27   9.7               day 2010-05-27 12:15:00
2   2010-05-27   9.8               day 2010-05-27 12:30:00
3   2010-05-27   9.9               day 2010-05-27 12:45:00
4   2010-05-27   9.9               day 2010-05-27 13:00:00
5   2010-05-27  10.0               day 2010-05-27 13:15:00
6   2010-05-27  10.0               day 2010-05-27 13:30:00
7   2010-05-27  10.0               day 2010-05-27 13:45:00
8   2010-05-27  10.1               day 2010-05-27 14:00:00
9   2010-05-27  10.1               day 2010-05-27 14:15:00
10  2010-05-27  10.0               day 2010-05-27 14:30:00
11  2010-05-27   9.9               day 2010-05-27 14:45:00
12  2010-05-27   9.8               day 2010-05-27 15:00:00
13  2010-05-27   9.8               day 2010-05-27 15:15:00
14  2010-05-27   9.8               day 2010-05-27 15:30:00
15  2010-05-27   9.8               day 2010-05-27 15:45:00
16  2010-05-27   9.8               day 2010-05-27 16:00:00
17  2010-05-27   9.8               day 2010-05-27 16:15:00
18  2010-05-27   9.8               day 2010-05-27 16:30:00
19  2010-05-27   9.9               day 2010-05-27 16:45:00
20  2010-05-27   9.9               day 2010-05-27 17:00:00
21  2010-05-27   9.9               day 2010-05-27 17:15:00
22  2010-05-27   9.9               day 2010-05-27 17:30:00
23  2010-05-27   9.9               day 2010-05-27 17:45:00
24  2010-05-27  10.0               day 2010-05-27 18:00:00
25  2010-05-27  10.0               day 2010-05-27 18:15:00
26  2010-05-27  10.0               day 2010-05-27 18:30:00
27  2010-05-27  10.0               day 2010-05-27 18:45:00
28  2010-05-27  10.0             night 2010-05-27 19:00:00
29  2010-05-27  10.0             night 2010-05-27 19:15:00
30  2010-05-27   9.9             night 2010-05-27 19:30:00
31  2010-05-27   9.9             night 2010-05-27 19:45:00
32  2010-05-27   9.9             night 2010-05-27 20:00:00
33  2010-05-27   9.8             night 2010-05-27 20:15:00
34  2010-05-27   9.8             night 2010-05-27 20:30:00
35  2010-05-27   9.7             night 2010-05-27 20:45:00
36  2010-05-27   9.7             night 2010-05-27 21:00:00
37  2010-05-27   9.6             night 2010-05-27 21:15:00
38  2010-05-27   9.6             night 2010-05-27 21:30:00
39  2010-05-27   9.6             night 2010-05-27 21:45:00
40  2010-05-27   9.5             night 2010-05-27 22:00:00
41  2010-05-27   9.5             night 2010-05-27 22:15:00
42  2010-05-27   9.4             night 2010-05-27 22:30:00
43  2010-05-27   9.4             night 2010-05-27 22:45:00
44  2010-05-27   9.4             night 2010-05-27 23:00:00
45  2010-05-27   9.4             night 2010-05-27 23:15:00
46  2010-05-27   9.4             night 2010-05-27 23:30:00
47  2010-05-27   9.4             night 2010-05-27 23:45:00
48  2010-05-28   9.4             night 2010-05-28 00:00:00
49  2010-05-28   9.4             night 2010-05-28 00:15:00

In [49]:
df_temp_agg = df_temp.groupby(['Date','daynight_category']).agg({'temp':'mean'}).reset_index()
# df_temp.pivot(index = "Date",columns="daynight_category", values="temp")
df_temp_agg.to_csv(data_string + 'white_temp_date.csv')